/* Html and css body */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100;
}

/* Fonts */

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Regular.ttf");
}

body {
  font-family: "Ubuntu", sans-serif;
}

.page-container {
  height: 100%;
  width: 100;
  display: flex;
  background-color: hsl(229, 24%, 87%);
}

.main-content {
  width: 65%;
  height: 73%;
  /* border: red 2px solid; */
  margin: auto;
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.steps-container {
  width: 28%;
  height: 95%;
  /* border: red 1px solid; */
  border-radius: 13px;
  margin-left: 17px;
  margin-top: 13px;
}

.steps-background-img {
  width: 100%;
  height: 100%;
  background-image: url(assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.steps-sub-container {
  width: 88%;
  height: 47%;
  /* border: rgb(157, 255, 0) 3px solid; */
  /* position: relative;
    left: 17px;
    top: 24px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 24.01px;
}

.each-steps {
  width: 100%;
  height: 23%;
  /* border: red 1px solid; */
  display: flex;
}

.steps-number {
  width: 23%;
  height: 100%;
  /* border: rgb(255, 238, 0) 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-no {
  border: white 2px solid;
  border-radius: 50%;
  font-size: 116%;
  text-align: center;
  padding: 20%;
  padding-left: 25%;
  padding-right: 25%;
  background-color: transparent;
  color: white;
}

.step-infos {
  width: 60%;
  height: 100%;
  /* border: 1px red solid; */
  margin-left: 5%;
}

.step-infos-1 {
  font-size: ;
  /* font-weight: lighter; */
  color: white;
  font-size: 92%;
}

.step-infos-2 {
  font-size: ;
  font-weight: bold;
  color: white;
}

/* info details container */

.info-details-container {
  width: 48%;
  height: 89%;
  position: relative;
  top: 3.94%;
  left: 10%;
  /* border: red solid 2px; */
}

.info-details-container-sub {
  width: 100%;
  height: 70%;

  /* border: red solid 2px; */
}

.header-details {
  width: 100%;
  height: 15%;
  /* border: red solid 2px; */
  margin-top: 1.68%;
}

.head-sub-details {
  margin-top: -3%;
  color: hsl(231, 11%, 63%);
}

.head-text {
  color: hsl(213, 96%, 18%);
}

.personal-details-section {
  width: 100%;
  height: 62%;
  /* border: red solid 2px; */
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.personal-each-section {
  /* border: red solid 2px; */
  width: 90%;
  height: 20%;
}

.to-take-input-name,
.to-take-input-email,
.to-take-input-phone {
  width: 100%;
  height: 63%;
  border-radius: 5px;
  border-color: hsl(240, 33%, 87%);
  margin-top: -2%;

  &:hover {
    border-color: hsl(243, 100%, 62%);
  }
}

/* For validation  */

.name-error,
.email-error,
.phone-error {
  color: hsl(354, 84%, 57%);
  display: none;
}

.red-border-1,
.red-border-2,
.red-border-3 {
  border-color: red;
  /* display: none; */
}

.red-border {
  border-color: red;
}

.to-take-input {
  border-color: "hsl(354, 84%, 57%)";
}

.three-plans-container input:checked + label {
  border-color: rgb(71, 61, 255);
}

/* Valdation end  */

.personal-inputs {
  margin-top: 2%;
  color: hsl(213, 96%, 18%);
}

.bottom-personal-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container-bottom-sub {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-between;
}

.bottom-button-right {
  width: 27%;
  height: 100%;
  background-color: hsl(213, 96%, 18%);
  border-radius: 10px;
  color: white;
  &:hover {
    background-color: hsl(213, 100%, 35%);
  }
}

.bottom-button-left {
  width: 27%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: gray;
}

.info-details-container-page1 {
  width: 100%;
  height: 80%;
}

.plans-container {
  width: 100%;
  height: 30%;
  border: rgb(146, 192, 19) 2px solid;
  margin-top: 25%;
}

.add-White-BG {
  color: white;
  background-color: hsl(228, 100%, 84%);
}

.three-plans-container {
  width: 100%;
  height: 39%;
  position: relative;
  top: 15%;
  display: flex;
  justify-content: space-between;
}

.arcade-container,
.advanced-container,
.pro-container {
  width: 29.5%;
  height: 100%;
  /* border: red solid 2px; */
  border-radius: 13px;
  border: 1px #ccc solid;

  &:hover {
    border: 1px solid hsl(243, 100%, 62%);
    background-color: hsl(217, 100%, 97%);
  }
}

.plan-type input:checked + label {
  border-color: hsl(243, 100%, 62%);
}

/* Toggle section  */

.toggle-main-container {
  position: relative;
  top: 20%;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 100%, 97%);
  border-radius: 2px;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-label {
  margin-right: 10px;
}

.toggle-button {
  width: 50px;
  height: 30px;
  background-color: hsl(213, 96%, 18%);
  position: relative;
  border-radius: 15px;
}

.toggle-button input[type="checkbox"] {
  display: none;
}

.toggle-button label {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s;
}

.toggle-button input[type="checkbox"]:checked + label {
  transform: translateX(20px);
}

.toggle-label {
  color: hsl(213, 96%, 18%);
  position: relative;
  left: 3%;
}

#monthly-toggle {
  font-weight: bold;
}

/* Toggle section end */

.main-add-ons-container {
  width: 100%;
  height: 63%;
  position: relative;
  top: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}


.card-content {
    width: 100%;
    flex-direction: column;
    position: relative;
    top: 12%;
    left: 12%;
}

.add-on-plan-1 {
  width: 100%;
  height: 27%;
  border: 1px solid hsl(240, 33%, 87%);
  border-radius: 15px;
}
.add-on-plan-1:hover {
  border: 2px skyblue solid;
}

.add-on-plan-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-on-plan-1 input[type="checkbox"] {
  margin-right: 10px;
}

.add-on-plan-1 label {
  display: flex;
  align-items: center;
}

.add-on-centre {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 4%;
}

.gray-text {
  color: gray;
  margin-right: 10px;
}

.additional-cost-online,
.additional-cost-larger,
.additional-cost-custom {
  margin-left: auto;
  color: hsl(243, 100%, 62%);
  margin-left: -64%;
}

.service-tag {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 51%;
  height: 100%;
  justify-content: center;
}

.service-text {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

/* Page 4 */

.page-4-container-details {
  width: 100%;
  height: 71%;
  /* border: red 2px solid; */
  position: relative;
  top: 11%;
}

.finshing-up-main {
  background-color: hsl(217, 100%, 97%);
  border-radius: 9px;
}

hr {
  border-color: #efefef36;
}

.finishing-up-1,
.finishing-up-2 {
  width: 100%;
  height: 30%;
  /* border: rgb(0, 17, 255) 1px solid; */
  position: relative;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
}

.finishing-up-3 {
  display: flex;
  justify-content: space-between;
}

.btn-change {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: gray;
}

.total-price-plans {
  color: hsl(243, 100%, 62%);
  font-size: 143%;
  font-weight: bold;
  margin-top: 13%;
}

.Online-service-plan,
.Larger-storage-plan,
.Custom-storage-plan {
  color: hsl(231, 11%, 63%);
}

.arcade-text {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

.bottom-button-right-2 {
  width: 27%;
  height: 100%;
  background-color: rgb(71, 61, 255);
  border-radius: 10px;
  color: white;
}

.Yearly-price {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

/* validation purpose */

.flex-personal-inputs {
  display: flex;
  width: 100%;
  /* border: 2px red solid; */
  justify-content: space-between;
  align-items: center;
  height: 62%;
}

/* Plan container */

input[type="radio"] {
  opacity: 0;
  height: 0;
}

.arcade-container {
  border-color: hsl(222, 76%, 97%))
}

.head-sub-details {
  margin-top: -3%;
  color: hsl(231, 11%, 63%);
}

.plan-card--img {
  position: relative;
  top: 5%;
  left: 8%;
}

.card-title {
  color: hsl(213, 96%, 18%);
}

.plan-offer {
  color: hsl(231, 11%, 63%);
  display: none;
}




.thank-you-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-details-container-thankyou{
  width: 48%;
  height: 89%;
  position: relative;
  top: 3.94%;
  left: 10%;
  /* border: red solid 2px; */
  display: flex;
}


.thank-you-text{
  text-align: center;
  color: #949292;
}


.hidden {
  display: none;
}


@media only screen and (min-width: 480px) {
  body {
    background-color: red;
  }
}
